# Node / Web
node_modules/
dist/
.env

# Android
*.iml
.gradle/
/local.properties
/android/.idea
/android/app/build
/android/build

# iOS
/ios/build/
*.xcworkspace
*.xcuserstate
DerivedData/

# OS
.DS_Store
